<div class="container">
        <img src="images/logo.jpg" alt="" class="center">
        <div style="text-align:center; padding-left:20%; padding-right:20%; ">
                <div class="row">
                        <form class="form-inline" action="/search-result" method="get" role="form">
                            <div class="form-group">
                                <select name="type" id="inputtype" class="form-control mr-2" required="required">
                                    <option value="">Tên sách</option>
                                    <option value="">Loại sách</option>
                                    <option value="">Tác giả</option>
                                    <option value="">Nhà xuất bản</option>
                                </select>
                            
                            <input type="text" name="" class="form-control mr-sm-2"  placeholder="Bạn muốn tìm gì? Sách, giáo trình, . . ." style="width: 530px;">
                            
                        </div>
                        </form>
                        
                    </div>
                    <button type="submit" class="btn btn-outline-primary" style=" margin-top: 5%;">Tìm Kiếm</button>

        </div>


    </div>