<div>

    <div class="row" >
        
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="background-color: #faf9f8;height: 630px;">
            <div class="pl-5 pt-4" ><h6>Bộ lọc</h6>
            <span>Nhà xuất bản</span>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Tuổi trẻ
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Tổng hợp
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Giáo dục
                </label>
            </div>
            <br />
            <div class="form-group">
                <label for="sel1">Tác giả</label>
                <select class="form-control" id="sel1">
                    <option>Chọn</option>
                    <option>Phạm Hồng Danh</option>
                    <option>Nguyễn Văn Huân</option>
                    <option>Nguyễn Đình Tri</option>
                </select>
            </div>
            <div class="form-group">
                <label for="sel2">Thể loại</label>
                <select class="form-control" id="sel2">
                    <option>Chọn</option>
                    <option>Toán</option>
                    <option>Lý</option>
                    <option>Hóa</option>
                </select>
            </div>
</div>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="mx-5 mt-4">
                <div class="row">
                    <form class="form-inline" method="GET" action="/search" role="form" autocomplete="off">
                        <div class="form-group">
                            <select name="t" id="inputtype" class="form-control mr-2" value="t">
                                <option value="name">Tên sách</option>
                                <option value="type">Loại sách</option>
                                <option value="author">Tác giả</option>
                                <option value="producer">Nhà xuất bản</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="q" class="form-control mr-sm-2" value="{{q}}" style="width: 500px;" ></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary"><a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z" /></svg>
                                </a></button></div>
                    </form>
                </div>

                <div class="row mt-3 border-bottom result-quantity">

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pl-0">
                        <span style="vertical-align: middle;"> <h5>Tìm thấy {{number}} kết quả phù hợp </h5> </span>
                    </div>


                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end">
                               
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                
                            </ul>
                        </nav>
                    </div>




                </div>



        {{#if condition}}
                <div class="row result-area">
                    <div class="row mt-5">

                        <div class="book-card-hover col-xs-4 col-sm-4 col-md-4 col-lg-4 px-0">
                            <a href="/info?id=75412" class="book-card  py-2 px-2">
                                <div>
                                    <img src="images/book1.jpg " class="book-resize" alt="">
                                    <br /><span class="book-title">Toán Cao cấp Giải Tích</span>
                                    <br />
                                    <span class="book-author"> Phạm Hồng Danh</span>
                                    <span class="badge badge-success">Sẵn sàng phục vụ</span>
                                </div>
                            </a>
                        </div>
                        <div class="book-card-hover col-xs-4 col-sm-4 col-md-4 col-lg-4 px-0">
                            <a href="http://example.com" class="book-card  py-2 px-2">
                                <div>
                                    <img src="images/book2.jpg " class="book-resize" alt="">
                                    <br /><span class="book-title">Toán Cao cấp</span>
                                    <br />
                                    <span class="book-author"> Nguyễn Văn Huân</span>
                                    <br/><span class="badge badge-danger">Hết sách</span>
                                </div>
                            </a>
                        </div>

                        <div class="book-card-hover col-xs-4 col-sm-4 col-md-4 col-lg-4 px-0">
                            <a href="http://example.com" class="book-card  py-2 px-2">
                                <div>
                                    <img src="images/book3.jpg " class="book-resize" alt="">
                                    <br /><span class="book-title">Bài Tập Toán Cao Cấp</span>
                                    <br />
                                    <span class="book-author"> Nguyễn Đình Tri</span>
                                    <br/><span class="badge badge-danger">Hết sách</span>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>
                {{/if}}
            </div>
        </div>

    </div>



</div>