<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/stylesheets/jquery.min.js"></script>
    <script src="/stylesheets/popper.min.js"></script>
    <script src="/stylesheets/bootstrap.min.js"></script>
    <title>{{title}}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light layout">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link nav-text" style="color:white" href="/">Trang chủ<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text" style="color:white" href="#">Tin tức</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text" style="color:white" href="#">Tài Nguyên</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-text" style="color:white" href="http://example.com" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Khác
                    </a>
                    <div class="dropdown-menu nav-text" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">another</a>
                        <a class="dropdown-item" href="#">action</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link nav-text" style="color:white" href="/signup">Đăng ký</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-text" style="color:white" href="/signin">Đăng nhập</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container">
        <br>
        <div class="row">

            <div class="col-md-8 mx-auto">
                <div class="alert alert-success" role="alert" style="margin-top=10px">
                    <h4 class="alert-heading">Bạn đã đăng ký thành công!</h4>
                    <p>Vui lòng liên hệ thư viện để xếp lịch tập huấn sử dụng, sau khi tập huấn thì bạn có thể sử dụng
                        tài khoản.</p>
                </div>
            </div>
        </div>
    </div>

</body>

</html>